fastapi[all]
httptools==0.6.1
pip-chill==1.0.3
pydantic==2.8.2
pydantic_core==2.20.1
python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.26.0
rest-framework-simplejwt==0.0.1
scikit-image==0.22.0
scikit-learn==1.3.2
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2
uvicorn==0.30.1
